@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --color-base: #151515;
    --color-base2: #202022;
    --color-base3: #141415;
    --color-heading: #FFFFFF;
    --color-body: #929293;
    --color-body-darker:#7D7981;
    --color-icon: #FFFFFF;
}

body {
    background-color: var(--color-base);
    font-family: 'Inter', sans-serif;
}

body h1, h3, h4, h5{
    color: var(--color-heading);
}

body p {
    color: var(--color-body);
}

#left {
    padding: 4.5em 2.25em 0 4.5em;
}

#right {
    padding: 4.5em 4.5em 0 0;
}

.sticky-top{
    top: 4.5em;
}

.sticky-top img {
    height: 8rem;
    border-radius: 4rem;
}

.sticky-top .header-text h1 {
    font-weight: bold;
}

.body-text {
    margin: 1.5em 0 0 0;
}

.body-text p {
    font-size: 0.9em;
}

.scrollspy-example {
    background-color: #141415 !important;
}

#navbar-example2 .nav-link {
    padding: 0.5em 0 0 0;
    color: var(--color-heading);
    transition: transform .2s;
    text-align: left;
}

#navbar-example2 .nav-link.active{
    background-color: var(--color-base);
    color: var(--color-body);
    transform: scale(1.3);
}

#navbar-example2 h6 {
    font-weight: 100;
}

#social-section {
    margin: 0 0 1em 0;
    position: fixed;
    bottom: 0;
    transition: transform .2s;
}

#social-section a{
    text-decoration: none;
    color: var(--color-body);
}

#social-section .col:hover {
    transform: scale(1.1);
    color: var(--color-heading);
}

.project {
    background-color: var(--color-base2);
    margin: 0.5em;
    transition: transform .2s;
}

.project:hover{
   transform: scale(1.1);
   cursor: pointer;
}

.project .content{
    padding: 3em;
}

.project .content span {
    font-size: 0.6em;
    font-weight: 100;
    color: var(--color-body-darker);
    margin: 0 0.5em 0 0;
}

.project-section a {
    text-decoration: none;
}

.skills-section {
    margin-top: 5em;
    text-align: center;
}

.skills-section i{
    font-size: 7em;
    color: var(--color-icon);
}

.skills-section img{
    height: 7em;
}

.skills-section p{
    padding: 2em 0 0 0;
}

.education-section {
    margin-top: 5em;
}

.education-section img {
    width: 7em;
    height: 7em;
}

.education-section .row {
    margin: 3em;
}

.education-section .col-sm-9 {
    padding: 0 0 0 1.5em;
}

#contactModal .modal-content{
    background-color: #141415;
}

#contactModal h1, label {
    color: var(--color-heading);
}

#contactModal .form-control {
    color: var(--color-heading);
    background-color: var(--color-base2);
}


#contactModal .btn-primary:hover {
    color: var(--color-base2);
    background-color: var(--color-icon);
}

#contactModal .btn-secondary {
    border: var(--color-icon);
    background-color: var(--color-base3);
}

#contactModal .btn-primary {
    border: var(--color-icon);
    background-color: var(--color-base2);
}

#contactModal .btn-secondary:hover {
    color: var(--color-base2);
    background-color: var(--color-icon);
}


.project-modal .modal-content{
    background-color: var(--color-base2);
}

.project-modal .carousel-inner img {
    height: auto;
    width: 50em;
}

.project-modal .modal-footer a{
    text-decoration: none;
    color: var(--color-body);
}

.project-modal .modal-footer a{
    transition: transform 0.2s;
}

.project-modal .modal-footer a:hover{
    transform: scale(1.1);
    color: var(--color-heading);
}