:root {
    --color-base: #151515;
    --color-base2: #202022;
    --color-base3: #141415;
    --color-heading: #FFFFFF;
    --color-body: #929293;
    --color-body-darker:#7D7981;
    --color-icon: #FFFFFF;
}

body {
    background-color: var(--color-base);
}

body h1, h3, h4, h5{
    color: var(--color-heading);
}

body p {
    color: var(--color-body);
}

#left {
    padding: 4.5em 4.5em 0 4.5em;
}

#right {
    padding: 4.5em 4.5em 0 0 !important;
}

.sticky-top{
    top: 4.5em;
}

.project {
    background-color: var(--color-base2);
    margin: 0.5em;
}

.project .content {
    padding: 3em;
}